@font-face {
	font-family: 'SF-Pro-Display';
	src: local('SF-Pro-Display-Regular'),
		url('./fonts/SF-Pro-Display-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'SF-Pro-Display', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
